.inbl{
    display: inline-block;
    vertical-align: middle;
}

#profile{
    visibility: hidden;
    position: relative;
    font-family: Helvetica, serif;
    font-size: large;
    left: 12px;
    bottom: 6px;
    background-color: #f8f8f8;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px;
    max-width: 460px;
}

#dn{
    font-weight: bold;
    margin-left: 10px;
}

#at{
    font-weight: initial;
    font-size: small;
    color: #575757;
}

#pfp{
    width:60px;
    clip-path: circle(50% at 50% 50%)
}

#main{
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    overflow-x: hidden;
    padding-top: 20px;
}

div.reply, div.quote, div.rt{
    margin-top: 10px;
    text-align: left;
}

#start{
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
    background-color: white;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    text-align: center;
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 490px;
}

.media {
    max-width: 400px;
    max-height: 300px;
    display: block;
}

.images{
    display: table;
    width: 450px;
}

.cell{
    vertical-align: middle;
    padding: 2px;
    display: table-cell;
}

.cell img{
    max-width: 100%;
}

#ui{
    text-align: center;
    border: 4px solid #cae4f8;
    border-radius: 5px;
    padding:20px 10px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

#pro, #langs{
    font-weight: bold;
    font-size: 17px;
    margin-top: 12px;
}

#pro{
    border-radius: 4px;
    font-size: 14px;
}

#twtuser{
    font-weight: lighter;
    font-size: 13px;
    font-style: italic;
}


/*adapted css below*/

#left-timeline{
    height: 100%;
    width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #cae4f8;
}

div.all-tweets p {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
}

#translation{
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    background-color: white;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 16px;
    visibility: hidden;
}

.all-tweets{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    background-color: white;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    text-align: right;
}

div.all-tweets p:hover {
    text-decoration: underline;
}